
<div class="" id="page-content">
    <h1 class='text-center pt-2'>All articles</h1>
    <div class="flickr_pagination">
        <%= will_paginate @articles, :container => false %>
    </div>
    <%= render 'article' %> 
    <div class="flickr_pagination p-5">
        <%= will_paginate @articles, :container => false%>
    </div>
</div>