<nav class="fixed-bottom navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid d-flex justfiy-content-center align-items-center text-center">
    <h1 class="text-center w-100 h-100 fs-5 text-light">Copyright © CTI Blog</h1>
  </div>
</nav>